{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Ye Olde Shoppe</title>
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/lib/bootstrap-datepicker.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <script src="{% static 'js/lib/jquery.min.js' %}"></script>
        <script src="{% static 'js/lib/moment.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/lib/bootstrap-datepicker.min.js' %}"></script>
    </head>
    <body class="container">
        <header class="page-header">
            <h2>Ye Olde Shoppe</h2>
        </header>
        <main class="container">
            {% block content %}
            {% endblock %}
        </main>
        <footer class="page-footer">
            &copy;  2018 - {% now 'Y' %} Ye Olde Shoppe
        </footer>
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
