{% extends 'shop/base.html' %}

{% block content %}
    <a href="{% url 'add_book' %}">Add book</a>
    <div class="row">
        {% for book in books %}
            <div class="book col-lg-8 text-justify">
                <h3>{{  book.title }} <small class="author">by {{  book.author }}</small></h3>
                <p>ISBN: {{ book.ISBN }}</p>
                <p>Price: {{ book.price }}</p>
                <p>Published: {{ book.publish_date }}</p>
                <a href="{% url 'edit_book' pk=book.pk %}">Edit book info</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}
